# gitignore

coverage/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
lib_test
.idea/
*.iml
yarn.lock
package-lock.json

# npmignore
.gitignore
src/
__tests__/
.vscode/
nodemon.json
.nvmrc
tsconfig.json
tslint.json
.node-version
.editorconfig
.sonarlint/
wiki/
semver-task.js

# include only
!package.json
!lib
!bundle/
!keycloack.pem
